<ion-view title="Survey Category" id="page6">
    <ion-content padding="true" style="background: url(img/dCAFVET4TaW5RJ2JelLw_5rVml.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="list card">
            <div class="item item-divider">Survey Category</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item ui-sref="tabsController.c1Q1">Job Type</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>