<ion-view title="Updates" id="page3">
    <ion-content padding="true" style="background: url(img/BAkl7FR5Qa6dj9nMw4K6_5rVml.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="list card">
            <div class="item item-divider">Meeting Reminder</div>
            <div class="item item-body">
                <div>
                    <b>Client</b>: xxxx
                    <br>
                    <b>Address</b>: 22 Queen Street
                    <br>
                    <b>Meeting Time</b>: 11 am, Today
                    <br>
                    <b>Location</b>: Onsite
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Todo</div>
            <div class="item item-body">
                <div>Check SO123 with Ravin
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>